<button class="btn btn-link p-0 w-100 d-flex align-items-center gap-3 collapsed text-reset text-decoration-none"
    type="button" data-bs-toggle="collapse" data-bs-target="#edit-name"
    aria-expanded="false" aria-controls="edit-name">
  <span class="setting-icon">{{ icon('tag') }}</span>
  <span class="flex-grow-1 text-start">Nom</span>
  <span id="dev-name-alias-{{ device.did }}" class="text-body-secondary small">{{ device.alias }}</span>
  {{ icon('chevron-down', cls='collapse-chevron') }}
</button>
<div id="edit-name" class="collapse">
  <div class="pt-3">
    <form class="d-flex flex-column flex-sm-row gap-2"
          hx-patch="/devices/{{ device.did }}/rename"
          hx-swap="none"
          hx-disable="find input[type='text'], find button">
      <label class="visually-hidden" for="alias-{{ device.did }}">Nom</label>
      <div class="input-group">
        {% include 'partials/device_name_input.html' %}
        <button class="btn btn-primary flex-shrink-0" type="submit">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
